@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* body .contacts {
  width: 100%;
  height: auto;
  display: flex;
  background: #022B6B;
  flex-direction: column;
}
* body .contacts .contacts-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
* body .contacts .contacts-container .contact-arrow {
  position: absolute;
  width: clamp(194.74px, 20.2854166667vw, 778.96px);
  height: clamp(139px, 14.4791666667vw, 556px);
  left: clamp(230px, 23.940625vw, 920px);
  display: none !important;
}
* body .contacts .contacts-container .contacts-heading-container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}
* body .contacts .contacts-container .contacts-heading-container .contacts-heading {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(19px, 1.9791666667vw, 76px);
  text-transform: uppercase;
  color: #FCEE03;
}
* body .contacts .contacts-container .contacts-heading-container .separator {
  width: clamp(295px, 30.7291666667vw, 1180px);
  height: 1px;
  background-color: #FCEE03;
  margin-top: clamp(8px, 0.8333333333vw, 32px);
}
* body .contacts .contacts-container .contacts-main-content {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: clamp(50px, 5.2083333333vw, 200px);
  margin-bottom: clamp(61px, 6.3541666667vw, 244px);
}
* body .contacts .contacts-container .contacts-main-content .contacts-content {
  display: flex;
  flex-direction: column;
}
* body .contacts .contacts-container .contacts-main-content .contacts-content .section-heading {
  width: clamp(202px, 42.0833333333vw, 1616px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(8.75px, 1.8229166667vw, 70px);
  color: #FCEE03;
  font-size: clamp(20px, 2.0833333333vw, 80px);
}
* body .contacts .contacts-container .contacts-main-content .contacts-content .section-paragraph {
  width: clamp(316.5px, 32.96875vw, 1266px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(12.5px, 1.3020833333vw, 50px);
  color: white;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .contacts .contacts-container .contacts-main-content .contacts-content .section-paragraph .section-link {
  color: #FCEE03;
  font-weight: 600 !important;
}
* body .contacts .contacts-container .contacts-main-content .form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body .contacts .contacts-container .contacts-main-content .form input {
  width: clamp(266.5px, 27.7604166667vw, 1066px);
  height: clamp(24px, 2.5vw, 96px);
  background-color: #FFFFFF;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(10px, 1.0416666667vw, 40px);
  color: #1e1e1e;
  cursor: pointer;
  border: 2px solid #588EF7;
  border-radius: 4px;
  padding-left: 16px;
}
* body .contacts .contacts-container .contacts-main-content .form input:focus {
  outline: none;
  border: 2px solid #00346E;
}
* body .contacts .contacts-container .contacts-main-content .form input::-moz-placeholder {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(10px, 1.0416666667vw, 40px);
  color: #1e1e1e;
}
* body .contacts .contacts-container .contacts-main-content .form input::placeholder {
  font-family: "Gothic A1", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: clamp(10px, 1.0416666667vw, 40px);
  color: #1e1e1e;
}
* body .contacts .contacts-container .contacts-main-content .form .phone-input, * body .contacts .contacts-container .contacts-main-content .form .email-input, * body .contacts .contacts-container .contacts-main-content .form .city-input {
  margin-top: clamp(16px, 1.6666666667vw, 64px);
}
* body .contacts .contacts-container .contacts-main-content .form .submit-button {
  width: clamp(221.5px, 23.0729166667vw, 886px);
  height: clamp(29px, 3.0208333333vw, 116px);
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(17px, 1.5364583333vw, 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 66px;
  background-color: #FFF200;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
  color: #022B6B;
}
* body .contacts .contacts-container .contacts-main-content .form .submit-button:hover {
  background-color: #EADF02;
}

@media screen and (max-width: 448px) {
  .contacts {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .contacts .contacts-container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  .contacts .contacts-container .contact-arrow {
    display: none !important;
  }
  .contacts .contacts-container .contacts-heading-container {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(40px, 22.2222222222vw, 160px) !important;
  }
  .contacts .contacts-container .contacts-heading-container .contacts-heading {
    text-align: center !important;
    font-size: clamp(17px, 7.9439252336vw, 68px) !important;
  }
  .contacts .contacts-container .contacts-heading-container .separator {
    width: clamp(295px, 30.7291666667vw, 1180px);
    height: 1px;
    background-color: #00346E;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .contacts .contacts-container .contacts-main-content {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
    margin: auto;
    margin-top: clamp(50px, 5.2083333333vw, 200px);
    margin-bottom: clamp(61px, 6.3541666667vw, 244px);
  }
  .contacts .contacts-container .contacts-main-content .contacts-content {
    display: flex;
    align-items: center !important;
    flex-direction: column;
  }
  .contacts .contacts-container .contacts-main-content .contacts-content .section-heading {
    width: auto !important;
    font-style: normal;
    text-align: center !important;
    font-size: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .contacts .contacts-container .contacts-main-content .contacts-content .section-paragraph {
    width: clamp(165.5px, 77.3364485981vw, 662px) !important;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: clamp(11.5px, 5.3738317757vw, 46px) !important;
    color: #1e1e1e;
    margin-right: 0px !important;
    margin-top: clamp(32px, 3.3333333333vw, 128px) !important;
  }
  .contacts .contacts-container .contacts-main-content .form {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .contacts .contacts-container .contacts-main-content .form input {
    width: clamp(180px, 84.1121495327vw, 720px) !important;
    height: clamp(24px, 11.214953271vw, 96px) !important;
    background-color: rgba(210, 49, 39, 0.1);
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(9px, 4.2056074766vw, 36px) !important;
    color: #D23127;
    cursor: pointer;
    border: 2px solid #588EF7;
    border-radius: 4px;
    padding-left: 16px;
  }
  .contacts .contacts-container .contacts-main-content .form input:focus {
    outline: none;
    border: 2px solid #00346E;
  }
  .contacts .contacts-container .contacts-main-content .form input::-moz-placeholder {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(9px, 4.2056074766vw, 36px) !important;
    color: #D23127;
  }
  .contacts .contacts-container .contacts-main-content .form input::placeholder {
    font-family: "Gothic A1", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(9px, 4.2056074766vw, 36px) !important;
    color: #D23127;
  }
  .contacts .contacts-container .contacts-main-content .form .phone-input, .contacts .contacts-container .contacts-main-content .form .email-input, .contacts .contacts-container .contacts-main-content .form .city-input {
    margin-top: clamp(16px, 1.6666666667vw, 64px);
  }
  .contacts .contacts-container .contacts-main-content .form .submit-button {
    width: clamp(180px, 84.1121495327vw, 720px) !important;
    height: clamp(30px, 14.0186915888vw, 120px) !important;
    font-family: "FTY STRATEGYCIDE NCV";
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14.5px, 6.7757009346vw, 58px) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #588EF7;
    margin-top: clamp(32px, 3.3333333333vw, 128px);
    color: white;
  }
  .contacts .contacts-container .contacts-main-content .form .submit-button:hover {
    background-color: #B52B21;
  }
}/*# sourceMappingURL=contact_styles.css.map */