@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
* body .video-screen {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  background-color: #0B357A;
  flex-direction: column;
}
* body .video-screen .video-screen-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: clamp(50px, 5.2083333333vw, 200px);
  justify-content: space-between;
}
* body .video-screen .video-screen-container .video-screen-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body .video-screen .video-screen-container .video-screen-heading-container .v-screen-heading {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(19px, 1.9791666667vw, 76px);
  text-transform: uppercase;
  color: #FFF200;
}
* body .video-screen .video-screen-container .video-screen-heading-container .separator {
  width: clamp(174.5px, 18.1770833333vw, 698px);
  height: 1px;
  margin-top: clamp(8px, 0.8333333333vw, 32px);
  background-color: #FFF200;
}
* body .video-screen .video-screen-container .video-content {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: clamp(50px, 5.2083333333vw, 200px);
  margin-bottom: clamp(50px, 5.2083333333vw, 200px);
}
* body .video-screen .video-screen-container .video-content .youtube-video {
  width: clamp(396px, 41.25vw, 1584px);
  height: clamp(261.5px, 27.2395833333vw, 1046px);
  border-radius: 10px;
}
* body .video-screen .video-screen-container .video-content .video-description {
  width: clamp(216px, 22.5vw, 864px);
  height: clamp(261.5px, 27.2395833333vw, 1046px);
  background: #FFF200;
  border-radius: 13px;
  margin-left: clamp(16px, 1.6666666667vw, 64px);
}
* body .video-screen .video-screen-container .video-content .video-description .v-description-h {
  width: auto;
  font-size: clamp(14.5px, 1.5104166667vw, 58px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  margin-top: clamp(16px, 1.6666666667vw, 64px);
  margin-left: clamp(16px, 1.6666666667vw, 64px);
  color: #022B6B;
}
* body .video-screen .video-screen-container .video-content .video-description .v-description-p {
  width: clamp(175px, 18.2291666667vw, 700px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  font-size: clamp(12px, 1.25vw, 48px);
  margin-left: clamp(16px, 1.6666666667vw, 64px);
  margin-top: clamp(8px, 0.8333333333vw, 32px);
  color: #1e1e1e;
}

@media screen and (max-width: 448px) {
  .video-screen {
    width: 100%;
    height: auto;
    display: flex;
    margin: auto;
    background-color: #F4F5F8;
    flex-direction: column;
  }
  .video-screen .video-screen-container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: clamp(50px, 5.2083333333vw, 200px);
    justify-content: space-between;
  }
  .video-screen .video-screen-container .video-screen-heading-container {
    width: 100%;
    margin-top: clamp(32px, 3.3333333333vw, 128px);
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .video-screen .video-screen-container .video-screen-heading-container .v-screen-heading {
    font-size: clamp(14.5px, 6.7757009346vw, 58px) !important;
    text-transform: uppercase !important;
    text-align: center !important;
  }
  .video-screen .video-screen-container .video-content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .video-screen .video-screen-container .video-content .video-description {
    width: 105% !important;
    margin: auto !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    text-align: center !important;
    margin-top: clamp(16px, 8.2051282051vw, 64px) !important;
  }
  .video-screen .video-screen-container .video-content .video-description .v-description-h {
    width: auto !important;
    font-size: clamp(11px, 5.641025641vw, 44px) !important;
    margin-left: 0 !important;
  }
  .video-screen .video-screen-container .video-content .video-description .v-description-p {
    width: clamp(150px, 76.9230769231vw, 600px) !important;
    font-size: clamp(9px, 4.2056074766vw, 36px) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin: auto !important;
    margin-top: clamp(8px, 0.8333333333vw, 32px) !important;
  }
  .video-screen .video-screen-container .video-content .youtube-video {
    width: clamp(175px, 89.7435897436vw, 700px) !important;
  }
}/*# sourceMappingURL=video_styles.css.map */