@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* body .useful-fin {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #022B6B;
}
* body .useful-fin .useful-container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: auto;
}
* body .useful-fin .useful-container .useful-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}
* body .useful-fin .useful-container .useful-heading-container .useful-heading {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(19px, 1.9791666667vw, 76px);
  text-transform: uppercase;
  color: white;
}
* body .useful-fin .useful-container .useful-heading-container .best-hormone {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(13px, 1.3541666667vw, 52px);
  color: #FCEE03;
}
* body .useful-fin .useful-container .useful-heading-container .best-hormone-white {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(13px, 1.3541666667vw, 52px);
  color: white;
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}
* body .useful-fin .useful-container .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
* body .useful-fin .useful-container .button-container .qualified-product {
  width: clamp(350px, 36.4583333333vw, 1400px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(13px, 1.3541666667vw, 52px);
  text-align: center;
  color: white;
  margin: auto;
  margin-top: clamp(64px, 6.6666666667vw, 256px);
  margin-bottom: clamp(32px, 3.3333333333vw, 128px);
}
* body .useful-fin .useful-container .button-container .main-button {
  width: clamp(203.5px, 21.1979166667vw, 814px);
  height: clamp(32px, 3.3333333333vw, 128px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(11px, 1.1458333333vw, 44px);
  text-decoration: none !important;
  background-color: #FCEE03;
  display: flex;
  align-items: center;
  border-radius: 52px;
  justify-content: center;
  margin-bottom: clamp(64px, 5.7142857143vw, 256px);
  border: none;
  color: #022B6B;
  margin-top: clamp(22px, 2.2916666667vw, 88px);
}
* body .useful-fin .useful-container .button-container .main-button:hover {
  background-color: #EADF02;
}
* body .useful-fin .useful-container .button-container .separator {
  width: clamp(174.5px, 18.1770833333vw, 698px);
  height: 1px;
  margin-top: clamp(8px, 0.8333333333vw, 32px);
  background-color: #00346E;
  display: none;
}
* body .useful-fin .useful-container .cards {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: clamp(75px, 7.8125vw, 200px);
}
* body .useful-fin .useful-container .cards .card-one-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
* body .useful-fin .useful-container .cards .card-one-li .muscle-up-icon, * body .useful-fin .useful-container .cards .card-one-li .lightning-icon, * body .useful-fin .useful-container .cards .card-one-li .protection-icon, * body .useful-fin .useful-container .cards .card-one-li .anti-pills-icon, * body .useful-fin .useful-container .cards .card-one-li .delivery-icon {
  width: clamp(71px, 7.3958333333vw, 284px);
  height: clamp(75px, 7.8125vw, 300px);
}
* body .useful-fin .useful-container .cards .card-one-li .paragraph {
  width: clamp(150px, 15.625vw, 600px);
  text-align: center;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  color: white;
  font-size: clamp(10px, 1.0416666667vw, 40px);
  margin-top: clamp(32px, 3.3333333333vw, 128px);
}

@media screen and (max-width: 448px) {
  .useful-fin {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #588EF7;
  }
  .useful-fin .useful-container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .useful-fin .useful-container .main-button {
    height: clamp(34px, 15.8878504673vw, 136px) !important;
  }
  .useful-fin .useful-container .qualified-product {
    font-size: clamp(8.5px, 3.9719626168vw, 34px) !important;
  }
  .useful-fin .useful-container .useful-heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: clamp(32px, 14.953271028vw, 128px) !important;
  }
  .useful-fin .useful-container .useful-heading-container .useful-heading {
    font-size: clamp(17px, 7.9439252336vw, 68px) !important;
    text-transform: uppercase !important;
    color: white !important;
  }
  .useful-fin .useful-container .useful-heading-container .best-hormone {
    font-size: clamp(11.5px, 5.3738317757vw, 46px) !important;
  }
  .useful-fin .useful-container .useful-heading-container .best-hormone-white {
    font-size: clamp(8.5px, 3.9719626168vw, 34px) !important;
    text-align: center !important;
  }
  .useful-fin .useful-container .useful-heading-container .separator {
    width: clamp(295px, 30.7291666667vw, 1180px);
    height: 1px;
    background-color: #EDE9D0;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .useful-fin .useful-container .cards {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-between;
    margin-top: clamp(25px, 11.6822429907vw, 100px) !important;
  }
  .useful-fin .useful-container .cards .card-one-li {
    display: flex !important;
    align-items: center !important;
    flex-direction: row !important;
    margin-top: clamp(16px, 7.476635514vw, 64px) !important;
  }
  .useful-fin .useful-container .cards .card-one-li .muscle-up-icon, .useful-fin .useful-container .cards .card-one-li .lightning-icon, .useful-fin .useful-container .cards .card-one-li .protection-icon, .useful-fin .useful-container .cards .card-one-li .anti-pills-icon, .useful-fin .useful-container .cards .card-one-li .delivery-icon {
    width: clamp(53.5px, 25vw, 214px) !important;
    height: clamp(30px, 14.0186915888vw, 120px) !important;
  }
  .useful-fin .useful-container .cards .card-one-li .paragraph {
    font-size: clamp(7px, 3.2710280374vw, 28px) !important;
    width: clamp(125px, 58.4112149533vw, 500px) !important;
    text-align: left !important;
    margin-top: 0px !important;
    margin-left: clamp(8px, 3.738317757vw, 32px) !important;
  }
  .useful-fin .useful-container .shop-button {
    width: clamp(173.5px, 81.0747663551vw, 694px) !important;
    height: clamp(32px, 14.953271028vw, 128px) !important;
    border: 4px solid #F4F5F8 !important;
    font-size: clamp(14px, 6.5420560748vw, 56px) !important;
  }
}/*# sourceMappingURL=useful_styles.css.map */