@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
}
* html, * body {
  width: 100%;
  height: 100%;
  font-family: "Unbounded", sans-serif;
  font-display: fallback;
  overflow-x: hidden !important;
}
* html button, * html a, * body button, * body a {
  cursor: pointer;
  transition: 0.3s all;
  border: none;
}
* html .main-screen, * body .main-screen {
  width: 100%;
  height: auto;
  background: #022B6B;
  display: flex;
  margin: auto;
  flex-direction: column;
}
* html .main-screen .arrow-blue, * body .main-screen .arrow-blue {
  position: absolute;
  width: clamp(147.5px, 15.3645833333vw, 590px);
  height: clamp(150px, 15.625vw, 600px);
  left: clamp(418.115px, 43.5536458333vw, 1672.46px);
  top: clamp(243.5px, 25.3645833333vw, 974px);
}
* html .main-screen .container, * body .main-screen .container {
  width: 86.4583333333%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: clamp(50px, 5.2083333333vw, 200px);
  justify-content: space-between;
}
* html .main-screen .container .proto-photo, * body .main-screen .container .proto-photo {
  width: clamp(533.5px, 55.5729166667vw, 2134px);
  height: clamp(385px, 40.1041666667vw, 1540px);
  position: sticky;
  left: clamp(550px, 57.2916666667vw, 2200px);
  margin-top: -90px;
}
* html .main-screen .container .proto-photo-phone, * body .main-screen .container .proto-photo-phone {
  display: none;
}
* html .main-screen .container .main-heading, * body .main-screen .container .main-heading {
  width: clamp(500px, 52.0833333333vw, 2000px);
  height: clamp(80px, 8.3333333333vw, 320px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(32.5px, 3.3854166667vw, 130px);
  color: white;
}
* html .main-screen .container .main-heading .hormone, * body .main-screen .container .main-heading .hormone {
  color: #FCEE03;
}
* html .main-screen .container .description, * body .main-screen .container .description {
  width: clamp(323px, 33.6458333333vw, 1292px);
  height: auto;
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  line-height: 152%;
  font-size: clamp(9.5px, 0.9895833333vw, 38px);
  margin-top: clamp(22px, 2.2916666667vw, 88px);
  color: white;
}
* html .main-screen .container .buttons, * body .main-screen .container .buttons {
  width: auto;
  height: auto;
  display: flex;
}
* html .main-screen .container .buttons .main-button, * body .main-screen .container .buttons .main-button {
  width: clamp(203.5px, 21.1979166667vw, 814px);
  height: clamp(32px, 3.3333333333vw, 128px);
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(11px, 1.1458333333vw, 44px);
  text-decoration: none !important;
  background-color: #FCEE03;
  display: flex;
  align-items: center;
  border-radius: 52px;
  justify-content: center;
  border: none;
  color: #022B6B;
  margin-top: clamp(22px, 2.2916666667vw, 88px);
}
* html .main-screen .container .buttons .main-button:hover, * body .main-screen .container .buttons .main-button:hover {
  background-color: #EADF02;
}
* html .main-screen .container .buttons .main-button .telegram-icon, * body .main-screen .container .buttons .main-button .telegram-icon {
  margin-right: clamp(6px, 0.625vw, 24px);
}

@media screen and (max-width: 448px) {
  .main-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: auto;
    flex-direction: column;
  }
  .main-screen .arrow-blue {
    display: none !important;
  }
  .main-screen .separator {
    display: none;
  }
  .main-screen .container {
    width: 86.4583333333%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main-screen .container .proto-photo {
    display: none;
  }
  .main-screen .container .proto-photo-phone {
    width: auto;
    height: auto;
    margin-top: clamp(-100px, -46.7289719626vw, -400px);
    display: flex !important;
  }
  .main-screen .container .main-content .main-heading {
    width: clamp(188.5px, 88.0841121495vw, 754px) !important;
    height: clamp(118px, 55.1401869159vw, 472px) !important;
    margin: auto;
    font-size: clamp(21.5px, 10.046728972vw, 86px) !important;
    text-align: center !important;
  }
  .main-screen .container .main-content .description {
    width: clamp(176px, 82.2429906542vw, 704px) !important;
    height: auto !important;
    text-align: center;
    margin: auto;
    font-weight: 300;
    font-size: clamp(9px, 4.2056074766vw, 36px);
    margin-top: clamp(8px, 3.738317757vw, 32px);
  }
  .main-screen .container .main-content .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: clamp(145px, 74.358974359vw, 580px) !important;
  }
  .main-screen .container .main-content .buttons .main-button, .main-screen .container .main-content .buttons .more-button {
    width: clamp(178.5px, 83.4112149533vw, 714px) !important;
    height: clamp(31.5px, 14.7196261682vw, 126px) !important;
    font-size: clamp(10.5px, 4.9065420561vw, 42px);
    margin: auto;
    margin-top: clamp(-250px, 116.8224299065vw, -1000px) !important;
  }
  .main-screen .container .main-content .buttons .main-button {
    height: clamp(34px, 15.8878504673vw, 136px) !important;
  }
}/*# sourceMappingURL=main_screen.css.map */